<div class="item" ng-class="[build.Status, isStatusImportant(build.Status) ? 'wrapper-large' : 'wrapper']">

    <span id="dateFilter" data-date="{{build.StartBuildDateTime}}" /> <!--This is because of Isotope/Angular compatibility problem-->

    <div class="aspect-content">
        <p class="item-title" ng-class="getTitleSizeClass(build.Builddefinition)" title="{{build.Builddefinition}}">{{build.Builddefinition | titleFilter:52 }}</p>
        <p class="item-subtitle" title="{{build.TeamProject}}">{{build.TeamProject | titleFilter:25}}</p>
        <div class="itemcontent">
            <p ng-if="build.Status !== 'inProgress' && build.Status !== 'notStarted'">
                Built
                <span title="{{build.FinishBuildDateTime | date:'dd-MM-yyyy HH:mm'}}" time-since="{{build.FinishBuildDateTime}}"></span>
            </p>
            <p ng-if="build.Status === 'inProgress'">
                Started <span title="{{build.StartBuildDateTime | date:'dd-MM-yyyy HH:mm'}}" time-since="{{build.StartBuildDateTime}}"></span>
            </p>
            <p>
                by <span>{{build.RequestedByName | titleFilter:20}}</span>
            </p>
        </div>
        <!--<input type="text" ng-model="build.Status"/>-->
        <div ng-switch="build.Status">
            <a href="{{build.BuildReportUrl}}" target="_blank">
                <div progress-directive build="build" ng-switch-when="partiallySucceeded">
                </div>
                <div ng-switch-when="failed" class="circle">
                    <div class="builderror-label">
                        <p>
                            Build<br />failed
                        </p>
                    </div>
                </div>
                <div ng-switch-when="stopped" class="circle">
                    <div class="builderror-label">
                        <p>
                            Build<br />stopped
                        </p>
                    </div>
                </div>
                <div ng-switch-when="notStarted" class="circle">
                    <div class="builderror-label">
                        <p>
                            Not<br />started
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div ng-if="build.Status === 'inProgress'">
            <a href="{{build.BuildReportUrl}}" target="_blank">
                <div building-animation lastbuildtime="{{build.LastBuildTime}}" starttime="{{build.StartBuildDateTime}}"></div>
            </a>
        </div>
        <div class="avatar" ng-if="isStatusImportant(build.Status)">
            <img no-avatar ng-src="{{build.RequestedByPictureUrl}}" alt="avatar" />
        </div>
    </div>
</div>