
<h1>About</h1>
<hr/>
<div class="centerImage">
    <a href="http://www.gnu.org/licenses/gpl.txt"><img src="https://www.gnu.org/graphics/gplv3-88x31.png" /></a>
</div>
<p>
    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
</p>
<p>
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
</p>
<p>
    For any feedback relating to this software, feel free to contact us at:
    <a href="mailto:service@orbitone.com">service@orbitone.com</a>
</p>
<footer>Copyright &copy; 2015  Orbit One</footer>